[submodule "subprojects/fmt/fmt"]
	path = subprojects/fmt/fmt
	url = https://github.com/fmtlib/fmt
[submodule "subprojects/imgui/imgui"]
	path = subprojects/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "subprojects/simdjson/simdjson"]
	path = subprojects/simdjson/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "subprojects/fastgltf/--force"]
	path = subprojects/fastgltf/--force
	url = https://github.com/spnda/fastgltf
[submodule "subprojects/fastgltf/fastgltf"]
	path = subprojects/fastgltf/fastgltf
	url = https://github.com/spnda/fastgltf
